<% include header %>
<div>
    <div class="py-5 bg-light">
        <div class="container">
            <div class="card card-body">
                <div class="row">
                    <% orders.forEach((order) => { %>
                    <div class="col-md-4">
                        <div class="card card-body shadow-sm mb-2">
                            <h5 class="card-title">Заказ № <%= order.id %></h5>
                            <p>
                                <div>Телефон: <%= order.phone %> </div>
                                <div>Адрес доставки: <%= order.address %></div>
                                <% if (order.comment != '') { %>
                                    <div>Комментарий к заказу: <%= order.comment %></div>
                                <% } %>
                                <div>Дата заказа: <%= order.date.toLocaleDateString() + ' ' + order.date.toLocaleTimeString() %></div>
                            </p>
                            <ul class="list-group mb-3">
                                <% order.pizzas.forEach((pizza) => { %>
                                <li class="list-group-item d-flex justify-content-between lh-condensed text-left">
                                    <div>
                                        <h6 class="my-0"><%= pizza.name %></h6>
                                        <small class="text-muted">Размер: <%= pizza.size %> | Кол-во: <%= pizza.quantity %></small>
                                    </div>
                                    <div>
                                        <span class="text-muted"><%= (pizza.price * pizza.quantity).toFixed(2) %> грн.</span>
                                    </div>
                                </li>
                                <% }) %>
                                <li class="list-group-item d-flex justify-content-between">
                                    <span>Всего (ГРН)</span>
                                    <strong><%= order.sum.toFixed(2) %></strong>
                                </li>
                            </ul>
                            <form action="admin" method="POST">
                                <input type="hidden" name="orderID" value="<%= order.id %>">
                                <button type="submit" class="btn btn-success w-100">
                                    <i class="fa fa-check"></i>Готов</button>
                            </form>
                        </div>
                    </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>
</div>
<% include footer %>