<% include header %>   
   <div>
        <div class="py-5 bg-light">
            <div class="container">
                <div class="row">
                    <% pizzas.forEach(function(pizza) {%>
                    <div class="col-md-4">
                        <div class="card shadow-sm mb-4">
                            <img class="card-image-top w-100" src="/img/pizza<%= pizza.pizza_title_id %>.jpg" alt="Пицца">
                            <div class="card-body">
                                <a class="text-dark" href="/pizza/<%= pizza.pizza_title_id %>">
                                    <h5 class="card-title"><%= pizza.pizza_name %></h5>
                                </a>
                                <p class="card-text"><%= pizza.pizza_description %></p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <span><small>от</small> <span class="font-weight-bold"><%= pizza.pizza_price %></span>
                                        <small>грн.</small></span>
                                    <a href="/pizza/<%= pizza.pizza_title_id %>" class="btn btn-sm btn-outline-primary"><i class="fa fa-info-circle" aria-hidden="true"></i> Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                    
                </div>
            </div>
        </div>
    </div>
<% include footer %>